<p>
  There is nothing either good or bad but
  <%= noun %> makes it so.
</p>

<p>
  Path: <%= env["PATH_INFO"] %>
</p>

<p>
  Server Software: <%= env["SERVER_SOFTWARE"] %>
</p>

<p>
  User Agent: <%= env["HTTP_USER_AGENT"] %>
</p>
